*.jld2
src/1d/sampler/.ipynb_checkpoints/kitrt-checkpoint.ipynb
src/2d/sampler/.ipynb_checkpoints/Untitled-checkpoint.ipynb
src/2d/sampler/.ipynb_checkpoints/kitrt2d-checkpoint.ipynb
src/1d/sampler/.ipynb_checkpoints/kitrt1d-checkpoint.ipynb
src/1d/sampler/.ipynb_checkpoints/scalar-checkpoint.ipynb
src/1d/sampler/.ipynb_checkpoints/test-checkpoint.ipynb
src/2d/sampler/.ipynb_checkpoints/test-checkpoint.ipynb
src/1d/sampler/.ipynb_checkpoints/test1d-checkpoint.ipynb
src/2d/sampler/.ipynb_checkpoints/test2d-checkpoint.ipynb
src/2d/cylinder/log
data/2d/
data/2d/*
src/2d/cylinder/log
src/2d/cylinder/log1
.vscode/
*/__pycache__
.idea
.ipynb_checkpoints/
src/2d/layer/log
